@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: source sans pro;
} 

/* headers and paragraphs */

h2 {
    font-size: 200%;
    text-transform: uppercase;
}

p {
    line-height: 150%;
}
/* section headings */

#section-heading {
    margin-bottom: 25px;
}

/* menu and logo */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
    color: #0557a4;
}

#menu {
    font-size: 125%;   
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;

}

#menu a {
    text-decoration: none;
    color: #0557a4;
}

#menu a:hover {
    background-color: #0557a4;
    border-radius: 3px;
    color: white;
}

/* hero image */

#hero-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* about us */

#about-us {
    margin: 75px auto 25px auto;
    text-align: center;
}

#about-us-image {
    width: 50%;
    border-radius: 10%;
}

#about-us p {
    width: 60%;
    margin: 25px auto 25px auto;
    text-align: left;
}

/* hr */

hr {
    border-style: none;
    border-top: 15px dotted #387eaf;
    opacity: 0.6;
    margin: 50px 33% 50px 33%;
} 

/* tours */

#tours {
    height: 600px;
  }
  
  #tours h2 {
    text-align: center;
  }
  
  #packages {
    width: 100%;
    text-align: center
  }
  
  #packages div {
    color: #0557a4;
    width: 300px;
    height: 450px;
    padding: 30px 10px 10px 10px;
    display: inline-block;
    border: 2px dotted #0557a4;
    box-sizing: border-box;
    vertical-align: top;
    margin: 25px 10px 25px 10px;
  }
  
  
  #packages div h3 {
    text-transform: uppercase;
    color: black;
  }
  
  #packages div p {
    color: black;
  }
  
  #otter {
    color: green;
  }
  
  #otter:hover, #fish:hover, #children:hover {
    color: red;
  }
  
  #fish {
    color: #0557a4;
  }
  
  #children {
    color: orange;
  }

  /* testimonials */

  #testimonials {
    width: 100%;
    text-align: center;
    height: 500px;
    background-color: #0557a4;
}

#testimonials div {
    color: white;
    width: 256px;
    height: 300px;
    padding: 30px 10px 10px 10px;
    display: inline-block;
    border: 2px solid white;
    box-sizing: border-box;
    vertical-align: top;
    margin: 25px 10px 25px 10px;
}

#testimonials h2 {
    color: white;
}

#testimonials div h3 {
    color: gold;
}

#testimonials div h4 {
    text-transform: uppercase;
}



#testimonials div p {
    color: white;
}


